body {
    font-family: Helvetica, sans-serif;
    background-color: #D7E3F7;
}

.item {
    box-shadow: 5px 5px 5px 5px #B8D0E0;
    margin: 15px;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    flex: 0 1 20%;
    max-width: 300px;
    min-width: 200px;
}

.item_name {
    margin: 0;
    text-align: center;
}

.item_description{
    line-height: 0.9;
    margin: 15px 0;
}

.item_price{
    margin: 0;
}

.item_list{
    display: flex;
    flex-wrap: wrap;
}

.menu_list{
    display: flex;
}

.discount_list{
    display: flex;
    flex-direction: column;
}

.kids_discount{
    margin-left: 25px;
    display: grid;
    grid-template-columns: 250px 500px;
}

.kid_discount_item:nth-child(4n), .kid_discount_item:nth-child(4n-1){
    background-color: #D7E3F7;
}

.kid_discount_item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #00008B;
    text-align: center;
    padding: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    margin: 25px 15px 15px 15px;
}

h3 {
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 7px;
    font-size: 20px;
}

h4 {
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 5px;
}

p {
    margin: 5px 0 5px 25px;
}

q {
    font-family: "Comic Sans MS", cursive ;
    margin-left: 30px;
}

sub {
    font-family: "Comic Sans MS", cursive;
}

b {
    text-decoration: underline;
}

footer {
    background-color: #B8D0E0;
    box-shadow: 5px 5px 5px 15px #B8D0E0;
    color: #696969;
}

li {
    text-align: center;
    margin: 10px 10px 0;
    padding: 3px 7px;
    width: 100px;
    list-style-type: none;
    background-color: #B8D0E0;
    line-height: 1.5;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: #B8D0E0;
    margin: 0 0 30px 0;
    box-shadow: 5px 5px 5px 15px #B8D0E0;
    position: sticky;
    top: 0;
}

pre {
    margin: 10px;
}

@media screen and (max-width: 1000px) {
    pre {
        display: none;
    }
}

code {
    margin-left: 30px;
    margin-bottom: 20px;
}

section {
    margin-top: 10px;
    margin-bottom: 25px;
}

article {
    margin-top: 15px;
    margin-bottom: 10px;
}

#footer_section{
    margin-bottom: 15px;
}



